{% extends "base.html.twig" %}

{% block class_body %}home{% endblock %}

{% block body %}
    <section id="home-presentation" class="container">
        <h2>Lorem ipsum dolor sit amet</h2>
        <div class="row">
            <div class="profil">
                <img src="/assets/img/profil-tt.jpeg" alt="Photo de profil Tom Texier"/>
            </div>
            <div class="texte">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum ante consequat sagittis fermentum. Donec in quam eu libero fermentum laoreet nec non felis. Nunc volutpat facilisis odio, vitae auctor neque dapibus eget. Aenean vitae eleifend sapien. Nunc congue cursus felis, at pellentesque augue vehicula ac. Sed vel ultrices enim, porttitor rutrum mauris. Donec lacinia metus ipsum, ac dictum nulla ultricies quis.</p>
                <p>Sed sit amet eros ac metus ullamcorper vehicula. Vivamus eu bibendum nulla. Donec sollicitudin massa lorem, ut sodales metus feugiat dapibus. Sed dignissim iaculis arcu at auctor. Nunc quis nibh augue. Ut iaculis erat enim, id vehicula orci interdum nec. Suspendisse potenti. Cras et congue tellus, sit amet scelerisque elit. Vestibulum aliquam pulvinar rutrum. Aliquam erat volutpat.</p>
            </div>
        </div>
    </section>
{% endblock %}