.admin-side-menu {
  width: 400px;
  max-width: 100%;
  padding: 20px;
  border-right: 1px solid #ececec;
  z-index: -1;

  &.open {
    transform: translateX(0);
  }

  > .title {
    margin: 0 0 15px;

    h1 {
      margin: 0;
    }
  }
}