Options +FollowSymLinks
RewriteEngine On

# FRONT REWRITING
RewriteRule ^articles/?$ posts/
RewriteRule ^article/([a-zA-Z0-9]*)/?$ post/$1 [NC,L]
RewriteRule ^contactez-moi/?$ contact/
RewriteRule ^connexion/?$ login/
RewriteRule ^inscription/?$ registration/
RewriteRule ^deconnexion/?$ login/logout/

# Réécrit une URL de type xxx/yyy/zzz en index.php?controller=xxx&action=yyy&id=zzz
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3 [NC,L]