.notice {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  font-size: 15px;
  margin-bottom: 20px;

  &__error {
    border-color: #B91919;
    color: #B91919;
    background-color: rgba(185, 25, 25, .1)
  }

  &__success {
    border-color: #6AA84F;
    color: #6AA84F;
    background-color: rgba(106,168,79, .1);
  }

  &__info {
    border-color: #3D85C6;
    color: #3D85C6;
    background-color: rgba(61,133,198, .1);
  }
}