{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    <form id="form__login" class="form" method="POST" action="/registration/register">
        {% if error_message %}
            <div class="notice notice__error">
                {{ error_message }}
            </div>
        {% endif %}
        <h1>Inscription</h1>
        <div class="form__group w-50">
            <label for="username">Nom d'utilisateur</label>
            <input id="username" type="text" name="username" required />
        </div>
        <div class="form__group w-50">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required />
        </div>
        <div class="form__group w-50">
            <label for="password">Mot de passe</label>
            <input id="password" type="password" name="password" required />
        </div>
        <div class="form__group w-50">
            <label for="confirm_password">Confirmer le mot de passe</label>
            <input id="confirm_password" type="password" name="confirm_password" required />
        </div>
        <div class="form__group">
            <button>S'inscrire</button>
        </div>
        <a href="/login">J'ai déjà un compte ! Se connecter</a>
    </form>
</div>
{% endblock %}